<table class="tableau">
	<a href="/vider">Vider</a>
	<a href="/"></a>
	<% let noLigne = 0 %>

	<% for(elm of adresse) {%>
		<% if (noLigne==0) { %>
			<tr>
				<% noLigne++ %>
				<% for(elem in elm) {%>
					<td><%= elem %></td>
				<%}%>
			</tr>
		<% } %>

		<tr>
			<% for(elem in elm) {%>
				<td><%= elm[elem] %></td>
			<%}%>
			<td><a href="/detruire/<%= elm._id %>"> Détruire </a></td>
		</tr>
	<% } %>
</table>
	<form action="/ajouter" method="POST" name="frmAjouter">
	  <input type="text" placeholder="nom" name="nom">
	  <input type="text" placeholder="prénom" name="prenom">
	  <input type="text" placeholder="courriel" name="courriel">
	  <button type="submit">Envoyer</button>
	</form>

	<form action="/modifier" method="POST" name="frmModifier" id="frmModifier">
	  <input type="text" placeholder="ID" name="_id">
	  <input type="text" placeholder="nom" name="nom">
	  <input type="text" placeholder="prénom" name="prenom">
	  <input type="text" placeholder="courriel" name="courriel">
	  <button type="submit">Envoyer</button>
	</form>

<!--<ul class="adresse">
		 <% for(adr of adresse) {%>
			 <li class="client">
			 <span><%= adr.nom %></span>
			 <span><%= adr.prenom %></span>
			 <span> - <%= adr._id %></span>
			 <a href=http://localhost:8081/detruire/<%= adr._id %> >Détruire </a>
			 </li>
		 <% } %>
	</ul>-->

<script type="text/javascript">
 let elmSauver = document.querySelectorAll('.sauver')
 console.log('elmSauver = ' + elmSauver.length)
 for (elm of elmSauver)
 {
 elm.addEventListener('click', function(){
 /* 
 console.log(this
 .parentNode
 .parentNode
 .children[1].innerHTML)
 */
 let laLigne = this.parentNode.parentNode
 let id = laLigne.children[0].innerHTML
 let nom = laLigne.children[1].innerHTML
 let prenom = laLigne.children[2].innerHTML
 let telephone = laLigne.children[3].innerHTML

let elmForm = document.getElementById('frmModifier')
 console.log(elmForm.tagName)
 let elmInput = elmForm.querySelectorAll('input')
 elmInput[0].value = id
 elmInput[1].value = nom
 elmInput[2].value = prenom
 elmInput[3].value = telephone

elmForm.submit()

 })
 } 
</script>

