<table class="tableau">
	<% let noLigne = 0 %>

	<% for(elm of adresses) {%>
		<% if (noLigne==0) { %>
			<tr>
				<% noLigne++ %>
				<% for(elem in elm) {%>
					<td><%= elem %></td>
				<%}%>
			</tr>
		<% } %>

		<tr>
			<% for(elem in elm) {%>
				<td><%= elm[elem] %></td>
			<%}%>
		</tr>
	<% } %>
</table>
	<form action="/ajouter" method="POST">
	  <input type="text" placeholder="nom" name="nom">
	  <input type="text" placeholder="prénom" name="prenom">
	  <button type="submit">Submit</button>
	</form>

	<ul class="adresse">
		 <% for(adr of adresse) {%>
			 <li class="client">
			 <span><%= adr.nom %></span>
			 <span><%= adr.prenom %></span>
			 <span> - <%= adr._id %></span>
			 <a href=http://localhost:8081/detruire/<%= adr._id %> >Détruire </a> "
			 </li>
		 <% } %>
	</ul>

